---
---

@import "{{ site.theme }}";

.breadcrumb ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.breadcrumb li::before {
  content: "|";
  padding: 0 4px;
  padding-right: 4px;
}
  
.breadcrumb li:first-child::before {
  content: "";
  padding: 0;
}

.table-of-contents, .bibliography {
  list-style: none;
  padding-left: 0;
}

.bibliography li {
  font-size: 0.9rem;
}

.footnote {
  vertical-align: super;
  font-size: 0.7rem;
}

.todo::before {
  content: '[to do:';
  padding-right: 6px;
}

.todo::after {
  content: ']'
}

.todo { 
  background-color: yellow;
}